@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="~/Content/Site.css" />
<div class="page">
    <div class="jumbotron">
        <h1>WELCOME TO MUSIFY APP</h1>
        <p class="lead">Musicfy is another way to explore & get all your favourite music artist , album and song names.</p>
        <p><img src="~/Content/content/gifs.gif" height="250" class="center" /></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2><a href="https://localhost:44364/Artist">Artists </a></h2>
            <p>
                Gets all details about your favourite artists by clicking on the artist link in the header.
            </p>
            <p><img src="~/Content/content/Drake-1.jpg" height="250" /></p>
        </div>
        <div class="col-md-4">
            <h2><a href="https://localhost:44364/Album">Albums</a></h2>
            <p> Gets all details about your favourite artist's albums by clicking on the album link in the header.</p>
            <p><img src="~/Content/content/album.jpg" height="250" /></p>
        </div>
        <div class="col-md-4">
            <h2><a href="https://localhost:44364/Song">Songs</a></h2>
            <p>Gets all details about your favourite artist's Songs by clicking on the song link in the header.</p>
            <p><img src="~/Content/content/song.jpg" height="250" /></p>
        </div>
    </div>
</div>